.chatting_space{
    width: 81%;
    height: 90%;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* To show user group */

/* For Chat message */
.chat_group{
    width: 95%;
    margin:  0 auto;
    height: 90%;
    overflow-x: hidden;
    overflow-y: visible;

}
.chat_group::-webkit-scrollbar{
    width: 10px;
}
/* If other user */
.chat-message_div_1{
    width: 90%;
    margin:  0 0 auto 0;
}
.chat-message_imgdiv_1 {
    display: flex;
    align-items: center;

}
.chat-message_imgdiv_1 div{
    width: 200px;
    background-color: black;
    height: 40px;
    border-radius: 50px 20px 50px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.chat-message_div_1 img{
    width: 100%;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.chat_message_1{
    width: 94%;
    margin: 0 0 0 auto;
    background-color: aliceblue;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 10px;
    
}
.chat_message_1 p{
    text-align: justify;
    line-height: 2;
    color: #494949;
}

/* if user */
.chat-message_div_2{
    width: 90%;
    margin:  0 0 0 auto;
}
.chat-message_imgdiv_2 {
    display: flex;
    align-items: center;
    justify-content: end;

}
.chat-message_imgdiv_2 div{
    width: 200px;
    background-color: black;
    height: 40px;
    border-radius: 50px 20px 50px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.chat-message_div_2 img{
    width: 100%;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.chat_message_2{
    width: 94%;
    margin: 0 auto 0 0;
    background-color: #fff0f0;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 10px;
    
}
.chat_message_2 p{
    text-align: justify;
    line-height: 2;
    color: #494949;
}



/* For chat input */
 .chat_input_div{
    width: 92%;
    margin:  0 auto;
    height: 10%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
   
    /* border-radius: 70px 30px 70px; */

}
.chat_input_div .chat_input {
    border: 1px solid #8d8d8d;
    width: 55%;
    display: flex;
  align-items: center;
  justify-content: space-around;
    height: 40px;
    padding-left: 5px;
    border-radius: 10px;

  

}
.chat_input label{
    background-color: black;
 width: 35px;
 height: 35px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.chat_input label .camera_icon{
font-size: 1.5rem;
color: white;
}
.chat_input div{
    width: 90%;
    display: flex;
    align-items: center;
    border-left: 2px solid #494949;
    border-radius: 20px;
    margin-left: 5px;
    /* padding-left: 5px; */

}
.chat_input div textarea{
   width: 100%;
   resize: none;
   border: none;
}
.chat_input div textarea:focus{
    outline: none;
}


 .chat_input textarea::-webkit-scrollbar{
    width: 10px;
}


/* CREATE GROUP MODAL */
.create_group_modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #0000005a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_group_modal .create_group_modal_div{
    width: 450px;
    background-color: black;
 
    align-items: end;
    padding: 20px  0;
    border-radius: 40px 10px 40px;

}

.create_group_modal .create_group_exit{
    width: 98%;
    margin:  0 auto;
    display: flex;
    justify-content: end;

}
.create_group_modal .create_group_exit button{
    border: none;
    background: none;

}
.create_group_modal .create_group_exit button .icon{
    color: white;
    font-size: 1.3rem;
}

.create_group_modal .create_group_modal_div .create_group_details{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

.create_group_modal .create_group_modal_div .create_group_imgupload_div label img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    

}
.create_group_modal_div .create_group_input p{
    color: white;
    font-size: 0.9rem;
    text-align: center;
}
.create_group_modal_div .create_group_input input{
  width: 300px;
  height: 40px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
 border-bottom: 1px solid #ffffff;
 color: #ededed;
 padding: 0 10px;
}
.create_group_modal_div .create_group_input input:focus{
    outline: none;
}
.create_group_modal_div .create_group_btn button{
 width: 40px;
 height: 40px;
 border: none;
 border-radius: 40px;
}
@media (max-width:1000px){
    .chatting_space{
        width: 100%;
    }
}