.chatting_space{
    width: 81%;
    height: 90%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
}

/* To show user group */

/* For Chat message */
.goBack_chatting_space{
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
}
.goBack_chatting_space button{
    border: none;
    background: none;
    color: black;
}
.chat_group{
    width: 95%;
    margin:  0 auto;
    height: 80%;
    overflow-x: hidden;
    overflow-y: visible;

}
.chat_group::-webkit-scrollbar{
    width: 10px;
}
/* If other user */
.chat-message_div_1{
    width: 90%;
    margin:  0 0 auto 0;
}
.chat-message_imgdiv_1 {
    display: flex;
    align-items: center;

}
.chat-message_imgdiv_1 div{
    width: 200px;
    background-color: black;
  height: 23px;
    border-radius:5px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.chat-message_div_1 img{
    width: 100%;
    width: 40px;
    height: 40px;
    border-radius: 60px;
}
.chat_message_1{
    width: 94%;
    margin: 0 0 0 auto;
    background-color: aliceblue;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 10px;
    
}
.chat_message_1 p{
    text-align: justify;
    line-height: 2;
    color: #494949;
}

/* if user */
.chat-message_div_2{
    width: 90%;
    margin:  0 0 0 auto;
}
.chat-message_imgdiv_2 {
    display: flex;
    align-items: center;
    justify-content: end;

}
.chat-message_imgdiv_2 div{
    width: 200px;
    background-color: black;
    height: 23px;
    border-radius:5px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.chat-message_div_2 img{
    width: 100%;
    width: 40px;
    height: 40px;
    border-radius: 60px;
}
.chat_message_2{
    width: 94%;
    margin: 0 auto 0 0;
    background-color: #fff0f0;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 10px;
    
}
.chat_message_2 p{
    text-align: justify;
    line-height: 2;
    color: #494949;
}



/* For chat input */
 .chat_input_div{
    width: 92%;
    margin:  0 auto;
    height: 10%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
   
    /* border-radius: 70px 30px 70px; */

}
.chat_input_div .chat_input {
    border: 1px solid #8d8d8d;
    width: 55%;
    display: flex;
  align-items: center;
  justify-content: space-around;
    height: 40px;
    padding-left: 5px;
    border-radius: 10px;

  

}
.chat_input label{
    background-color: black;
 width: 35px;
 height: 35px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.chat_input label .camera_icon{
font-size: 1.5rem;
color: white;
}
.chat_input div{
    width: 90%;
    display: flex;
    align-items: center;
    border-left: 2px solid #494949;
    border-radius: 20px;
    margin-left: 5px;
    /* padding-left: 5px; */

}
.chat_input div textarea{
   width: 100%;
   resize: none;
   border: none;
}
.chat_input div textarea:focus{
    outline: none;
}
.chat_input_div  .chat_btn button{
    font-weight: 800;
    height: 40px;
    width: 40px;
    border: none;
    background: black;
    color: white;
    border-radius: 40px;
}


 .chat_input textarea::-webkit-scrollbar{
    width: 10px;
}


/* CREATE GROUP MODAL */
.create_group_modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #0000005a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_group_modal .create_group_div{
    width: 400px;
    background: black;
    color: white;
    border-radius: 20px;
    padding: 10px 0;
}
.create_group_modal .create_group_div .create_group_exit{
    width: 90%;
    margin:  0 auto;
    display: flex;
    justify-content: flex-end;

}
.create_group_div .create_group_exit button{
    border: none;
    color: white;
    background: none;
    font-size: 1.3rem;

}
.create_group_div .create_group_description{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.create_group_div .create_group_description select{
    /* border: 1px solid white; */
    border: none;
    background: none;
    color: white;
    border-radius: 20px;

}
.create_group_div .create_group_description select option{
    background:black ;
    border: none;
}
.create_group_div .create_group_description select option:hover{
    background: white;
    color: black;
}
.create_group_modal .create_group_div .name_and_input {
    width: 90%;
    margin: 0 auto;
}
.create_group_div .name_and_input input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #fff0f0;
    background: none;
    color: white;
}
.create_group_div .btn {

    width: 90%;
    margin:  10px auto 20px auto;
}
.create_group_div .btn button{
    border: none;
    background-color: white;
    height: 40px;
    border-radius: 40px;
    width: 100%;
}
.create_group_status{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 auto;
}
.create_group_status .state p{
    font-size: 0.9rem;
}
.create_group_status .action button{
    border: none;
    background:  none;
    color: white;
    font-size: 2rem;
}

/* GRoup Details */
.group_details_info{
    width: 100%;
    height: 92%;
    position: fixed;
    bottom: 0;
    background: #00000044;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group_details_info_div{
    width: 500px;
    height: 90%;
    background: black;
    padding: 10px 10px;
    border-radius: 10px;

}
.group_details_info_div .group_details_exit{
    width: 98%;
    margin:  0 auto;
    display: flex;
    justify-content: flex-end;
}
.group_details_info_div .group_details_exit button{
    border: none;
    background: none;
    color: white;

}
.group_details_info_div .group_details_info_img_div{
    width: 90%;
    margin:  0 auto;
    

}
.group_details_info_div .group_details_info_img_div img{
    width: 50%;
    height: 150px;
    border-radius: 10px;
}
.group_details_info_div .group_description{
    width: 90%;
    margin:  0 auto;
    color: white;
    font-size: 0.9rem;
}
.group_details_info_div .group_description .group_description_btn{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 10px;
}
.group_details_info_div .group_description .group_description_btn button{
    width: 100%;
    border: none;
    padding: 7px 0;
    border-radius: 20px;
    background: white;
}

.group_details_info_div .group_members{
    width: 90%;
    margin:  5px auto 0 auto;
    height: 40%;
    overflow-y: scroll;
}
.group_details_info_div .group_members::-webkit-scrollbar{
    width: 0px;
}
.group_details_info_div .group_members .group_members_heading{
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    background: black;
    border:1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
 
}
.group_details_info_div .group_members .members_name{
    width: 95%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 70% 20%;
    padding-top: 10px;
    margin:  0 auto;
}
.group_details_info_div .group_members .members_name img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.group_details_info_div .group_members .members_name .img_name_div{
    color: white;
    display: flex;
}
.group_details_info_div .group_members .members_name .img_name_div p{
    font-size: 0.9rem;
}
.group_details_info_div .group_members .members_name .btn_div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.group_details_info_div .group_members .members_name .btn_div button{
    border: none;
    width: 100%;
    height: 40px;
   /* padding: 0 20px; */
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NOTIFICATION INFO */
.group_notification_info{
    width: 100%;
    height: 92%;
    background: #00000044;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group_notification_info .group_notifictaion_div{
    height: 80%;
    width: 450px;
    background: black;   
    border-radius: 10px;
    padding: 10px 0;
}
.group_notification_info .group_details_info_div .group_notification_header{
    position: sticky;
    top: 0;
    width: 97%;
    margin:  0 auto;
}
.group_notification_header_exist{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.group_notification_header_exist button{
    border: none;
    background: none;
    color: white;
}
.group_notification_heading_description{
    width: 95%;
    margin: 0 auto;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
}
.group_notification_heading_description h2{
    color: white;
}
.group_notification_body{
    width: 95%;
    margin:  10px auto 0 auto;
    height: 80%;
    overflow-y: scroll;

}
.group_notification_body::-webkit-scrollbar{
    width: 0px;
}
.group_notification_body .joined{
    width: 100%;
    border-bottom: 0.9px solid #656565;
    margin-top: 10px;
}
.group_notification_body .joined p{
    color: white;
    font-size: 0.8rem;
}

@media (max-width:1000px){
    .chatting_space{
        width: 100%;
    }
}