.home_parent_div{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: grid;

    grid-template-columns: 280px 100%;
    align-items: flex-end;
}
.home_div{
    width: 81%;
    height: 90%;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
   
}
.home_div::-webkit-scrollbar{
    width: 5px;
}
.home_post{
    width: 40%;
    margin:  0 auto 10px 0;
    
}
.home_div .home_newPost_view_div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.home_div .home_newPost_view_div button{
    border: none;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 20px 40px;
    animation: btn infinite 1s running normal;

}
@keyframes btn {
    0%{
        transform: translateY(10px);
        transition: 0.9s all ease-in-out;
    }
    
}

.home_post_container{
    width: 90%;
    margin: 0 auto;
}
.home_post_div {
    width: 70%;
    border: none;
    margin: 20px 0;
    background: none;
    align-items: center;
    
}
.home_post_div .home_poster{
   display: grid;
   grid-template-columns: 50% 50%;
    align-items: center;
    background: rgb(0, 0, 0);
    width: 400px;
    padding: 5px 5px;
    border-radius: 30px;
  
}
.home_post_div .home_poster .home_username_img{
    width: 100%;
    display: flex;
    align-items: center;
  
}

.home_post_div .home_postaction{
    width: 90%;
    display: flex;
    justify-content: flex-end; 
    margin:  0 auto;
    /* display: grid;
    grid-template-columns: 50% 50%;*/
    
    
}
.home_post_div .home_postaction button {
    /* border: 1px solid #d9d8d8; */
    border: none;
    background: none;
    color: #ffffff;
    padding: 5px 0;
  margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.home_post_div .home_postaction button div div{
      display: block;
    height: 3px;
    width: 3px;
    margin: 0 0 3px auto;
    background: white;
}
.home_post_div .home_poster img{
    width: 40px;
    height: 40px;
    border-radius: 30px;

}
.home_post_div .home_poster .home_username_img span{
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.home_post_div .home_posted{
padding-bottom: 10px;

}
.home_post_div .home_posted p{
    text-align: left;
    color: #3e3e3e;
}





/* POST MODAL */
.post_modal_back_cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #0000009e;
}
.post_modal_p_div {
    width: 30%;
    height: 89%;
    position: fixed;
    bottom: 0;
    left: 40%;
    background: black;
    border-radius: 20px 20px  0 0;
    padding-top: 5px;
}
.post_modal_home_div{
    width: 90%;
    margin:  0 auto;
    position: sticky;
    top: 0;


}
.post_modal_home_post{
    width: 100%;
}
.post_modal_home_post .date{
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 10px 0 0 10px;
    padding: 2px 0;

}
.post_modal_home_post .date span{
    display: block;
    background: white;
    width: 100px;
    font-size: 0.8rem;
    border-radius: 0 10px 10px 0;
}
.post_modal_home_post .post_modal_caption_div p{
    font-size: 0.8rem;
    color: #c9c9c9;
}
.post_modal_post_img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

}

.post_modal_action_div{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 3px 10px;
    box-sizing: border-box;
}


.post_modal_action_div img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.post_modal_action_div .post_modal_name_img{
    display: flex;
    align-items: center;
}
.post_modal_action_div .post_modal_action_btn_div{
    display: grid;
    grid-template-columns: 50% 50%;
}
.post_modal_action_div .post_modal_action_btn_div button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

  
}
.post_modal_comment{
    width: 90%;
    height: 33%;
    margin:  0 auto;
    /* background: red; */
    overflow-y: scroll;
   
}
.post_modal_comment::-webkit-scrollbar{
    width: 5px;
}
.post_modal_comment .post_modal_comment_heading{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #5b5b5b;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 2px;

}
.post_modal_comment .post_modal_comment_heading h3{
   color: white;
   font-weight: 300;
   font-size: 0.9rem;
}
.post_modal_comment .post_modal_comment_body{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 4px 0;
    justify-content: center;
    align-items: flex-start;
}
.post_modal_comment .post_modal_comment_body img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.post_modal_comment .post_modal_comment_body .post_modal_comment_details_div .post_modal_comment_username_time{
 display: flex;
 justify-content:space-between;
align-items:center;
 color: white;
 height: 30px;
 border-bottom: 1px solid #5b5b5b;
 /* background: red; */
 
}

.post_modal_comment .post_modal_comment_body .post_modal_comment_details_div .post_modal_comment_username_time p{
    font-size: 0.9rem;
    font-weight: 500;
}
.post_modal_comment .post_modal_comment_body .post_modal_comment_details_div .post_modal_comment_username_time span{
    font-size: 0.8rem;
}
.post_modal_comment .post_modal_comment_body .post_modal_comment_details_div .comment{
    width: 98%;
    margin:  0 auto;
    border: 1px solid #5b5b5b;
    border-radius: 10px;
    
}
.post_modal_comment .post_modal_comment_body .post_modal_comment_details_div .comment p{
    font-size: 0.8rem;
    color: #dcdcdc;
    line-height: 2;
    text-align: justify;
    padding: 0 5px;
    
}
.post_modal_p_div .post_modal_input{
    height: 10%;
   display: grid;
   grid-template-columns: 70% 20%;
   justify-content: center;
    align-items: center;
   padding: 10px 0;
   /* background: red; */
}
.post_modal_p_div .post_modal_input textarea {
    height: 50%;
    resize: none;
    background: none;
    color: #c9c9c9;
    font-size: 0.8rem;
    overflow-y: hidden;

}

.post_modal_p_div .post_modal_input button{
    border: none;
    height: 40px;
    width: 40px;
    background: white;
    font-weight: 600;
    border-radius: 40px;
}

/* CREATE */
.create_group_post{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #00000064;
    display:flex;
    justify-content: center;
    align-items:center;
}

.create_group_post .action_div{
    width: 400px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5px;

}
.create_group_post .action_div .c_exit{
    width: 90%;
    display: flex;
    justify-content: right;
    margin:  0 auto;
}

.create_group_post .action_div .c_exit button{
    border: none;
    background: none;
    color: #dcdcdc;
}
.create_group_post .c_create{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-evenly;

}
.create_group_post .c_create button{
    height: 38px;
    border: 1px solid #ffffff;
    background: none;
    color: #dcdcdc;
    border-radius: 20px;
}
.create_group_post .c_create button:hover{
    background: white;
    color: black;
    border: 2px solid black;
    outline: 1px solid white;

}

/* CREATE POST */
.create_group_post_div{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    background:#00000042;
    display: flex;
    justify-content: center;
  
}
.create_group_post_div .create_post_div{
    width: 590px;
    background: black;

    overflow-y: scroll;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    /* display: block; */

}
.create_group_post_div .create_post_div::-webkit-scrollbar{
    width: 5px;
}
.create_group_post_div .create_post_div .go_back{
    width: 90%;
    margin:  0 auto;
    color: #eaeaea;
    padding: 8px;
    /* font-size: 1.3rem; */
    
}

.create_group_post_div .create_post_div .input_post_div{
    width: 90%;
    margin: 0 auto;
}
.create_group_post_div .create_post_div .input_post_div textarea{
    width: 100%;
    border: none;
     height: 100px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #5b5b5b;
    resize: none;
    color: #c9c9c9;
    font-family: sans-serif;
    border-radius: 20px;
    padding-left: 10px;
}
.create_group_post_div .create_post_div .input_post_div textarea:focus{
    outline: none;
}
.create_group_post_div .create_post_div .img_post_div{
    width: 90%;
    margin:  0 auto;

}

.create_group_post_div .create_post_div .img_post_div img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}
.create_group_post_div .create_post_div .action_post{
    width: 90%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #5b5b5b;
    padding: 5px  0;
}
.create_group_post_div .create_post_div .action_post label .icon{
    color: white;
    font-size: 1.2rem;
}
.create_group_post_div .create_post_div .action_post button{
    border: none;
    background: white;
    padding: 10px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.btnAction_spin span{
    display: block;
    width: 10px;
    height: 10px;
    /* border-radius: 5px 5px 10px; */
    background-color: black;
    animation: span infinite 0.9s running normal;
    
}
@keyframes span {
    0%{
        transition: 0.9s ease-in;
        margin: 0 2px;
        border-radius: 10px;
        
    }
    100%{
        transition: 0.9s ease-in;
        margin: 0px 0px;
        transform: rotate(360deg);
      
    }
}
.create_post_error_message_div{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000064;
}
.create_post_error_message_div  .error_div{
    width: 400px;
    background: black;
}
.create_post_error_message_div  .error_div  .error_exit_action_div{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.create_post_error_message_div  .error_div  .error_exit_action_div button{
    border: none;
    background: none;
    color: white;
}
.create_post_error_message_div   .error_message_div{
    width: 95%;
    margin: 0 auto;
}
.create_post_error_message_div   .error_message_div p{
    color: white;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 2px;
}

@media (max-width:1001px){
    .home_div{
        width: 100%;
    }
     .home_parent_div{
        grid-template-columns: 100%;
    }
    .home_div1{
        display: none;
    }
    .home_post{
        width: 80%;
        margin: 10px auto 5px auto;
    }
}

@media (max-width:600px){
    .create_group_post_div .create_post_div{
        width: 95%;
       
        
    }
}
@media (max-width:500px){
   
    .home_post{
        width: 100%;
        margin: 10px auto 5px auto;
    }
}