.recomend_div{
    width: 82%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    /* background-color: red; */
}
.recomend_div::-webkit-scrollbar{
    width: 10px;
}


.reconmended_group_div{
    width: 90%;
    margin:  0 auto;
}
.reconmended_groups_heading{
  margin: 0 auto;
  position: sticky;
top: 0;
  background-color: #f7f7f7;
  width: 300px;
  border-radius: 80px;
  
}
.reconmended_groups_heading p{
    text-align: center;
    padding: 10px;
}
.reconmended_group_div .reconmended_groups{
    width: 60%;
    margin: 0 auto;
    background-color: #eeeeee4e;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
   
}

.reconmended_group_div .reconmended_groups .reconmended_img_div{
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid #9a9a9a;
}
.reconmended_group_div .reconmended_groups .reconmended_img_div div img{
    width: 40px;
    height: 40px;
    border-radius: 60px;
}
.reconmended_group_div .reconmended_groups .reconmended_img_div .reconmended_name p{
    font-size: 1rem;
    color: #5a5959;
    padding-left: 10px;
}
.reconmended_users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9a9a9a;
    margin-bottom: 10px;
}
.reconmended_users .reconmended_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reconmended_users  .reconmended_div .reconmended_users_icon{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reconmended_users .recomended_group_content{
    background-color: black;
    padding: 5px 20px;
    color: white;
    font-size: 0.9rem;
    border-radius: 20px;
}
.reconmended_users p{
    font-weight: 600;
    padding-left: 10px;
}
.recomended_btn{
    width: 100%;
}
.recomended_btn  button{
    width: 100%;
    height: 43px;
    border-radius: 30px;
    background-color: black;
    border: none;
    color: white;
}


@media (Max-width:1000px){
    .recomend_div{
        width: 100%;
    }
}




